

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="BatchUserUpload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Dosyayı Yükle</label>
                <input id="batchUsers" name="postedFile" class="form-control" type="file">
                <button type="submit" class="btn btn-success mt-lg-5 mt-md-5 mt-sm-5 mt-xl-5" value="Import">Kişileri Yükle</button>
            </div>
        </form>
    </div>
</div>